@import "tailwindcss";

@theme {
  --color-primary: #FF4500;
  --color-secondary: #1a1a1a;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  height: 100vh;
}